In [1]:
import pandas as pd

In [4]:
salarios = pd.read_csv(r"Arquivo_Salarios_Colaboradores_2021.csv", sep=";")
salarios.head()

,Ordem,salario,idade,tempocasa,escolar,qproj_estra,proj_sustent,proj_6sigma,proj_social,notaavalia
0,1,8000.80,25,4,11,1,1,1,0,79.38
1,2,8500.17,24,5,11,0,0,1,0,84.13
2,3,3350.59,22,1,12,0,0,0,0,46.15
3,4,9500.24,28,4,14,1,0,0,1,83.85
4,5,1500.63,18,2,12,0,0,0,1,73.64

In [7]:
salarios.describe()

,Ordem,salario,idade,tempocasa,escolar,qproj_estra,proj_sustent,proj_6sigma,proj_social,notaavalia
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,90.500000,8539.490667,31.072222,9.072222,12.583333,1.272222,0.277778,0.550000,0.500000,71.738111
std,52.105662,4729.507585,9.346843,5.609281,2.569427,1.218253,0.449153,0.498881,0.501395,15.993931
min,1.000000,1500.630000,18.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,34.480000
25%,45.750000,5491.230000,24.000000,5.000000,11.000000,1.000000,0.000000,0.000000,0.000000,60.407500
50%,90.500000,7551.125000,28.000000,7.000000,13.000000,1.000000,0.000000,1.000000,0.500000,72.080000
75%,135.250000,10584.685000,36.000000,13.000000,14.000000,1.000000,1.000000,1.000000,1.000000,83.850000
max,180.000000,25329.910000,65.000000,25.000000,19.000000,7.000000,1.000000,1.000000,1.000000,98.960000

In [8]:
salarios.columns

Index(['Ordem', 'salario', 'idade', 'tempocasa', 'escolar', 'qproj_estra',
       'proj_sustent', 'proj_6sigma', 'proj_social', 'notaavalia'],
      dtype='object')

In [11]:
salarios.isna().sum()

Ordem           0
salario         0
idade           0
tempocasa       0
escolar         0
qproj_estra     0
proj_sustent    0
proj_6sigma     0
proj_social     0
notaavalia      0
dtype: int64

In [13]:
salarios.isnull().sum()

Ordem           0
salario         0
idade           0
tempocasa       0
escolar         0
qproj_estra     0
proj_sustent    0
proj_6sigma     0
proj_social     0
notaavalia      0
dtype: int64