In [2]:
import pandas as pd

## Exercicio 1
Escolha a melhor resposta a questão:</br>

#### a) Selecione a opção que lista as variáveis apenas quantitativas contínuas.</br>
    (  ) a temperatura do corpo, o número de crianças, o sexo, a área de um campo de futebol
    ( X) idade, a temperatura corporal, o consumo de combustível, a renda
    (  ) número de filhos, sexo, consumo de combustível, a renda
    (  ) gênero, consumo de combustível, área de um campo de futebol, renda

#### b) Separe as variáveis qualitativas das quantitativas do item a):</br>
    - Qualitativas:
        sexo, genero
    - Quantitativas:
        - continuas:
            Temperatura do corpo, área de um campo de futebol, idade, consumo de combustivel, renda
         -discretas:
            número de crianças(filhos)

## Exercício 2
    (a) Média
    (b) Erro padrão
    (c) Mediana
    (d) Moda
    (e) Desvio padrão
    (f) Variância da amostra
    (g) Curtose
    (h) Assimetria
    (i) Amplitude
    (j) Mínimo
    (k) Máximo
    (l) Soma
    (m) Contagem


    (g) Medida de dispersão que caracteriza o pico ou "achatamento" da curva da função de distribuição de probabilidade
    (k) É o maior valor de um conjunto de dados.
    (j) É o menor valor de um conjunto de dados.
    (a) Valor numérico que separa a metade superior de uma amostra de dados, uma população ou uma distribuição de probabilidade, a partir da metade inferior.
    (d) Valor que detém o maior número de observações, ou seja, o valor ou valores mais frequentes, ou ainda "o valor que ocorre com maior frequência num conjunto de dados, isto é, o valor mais comum
    (b) Medida de variabilidade da média amostral.
    (i) Medida de dispersão. É a diferença entre o máximo e o mínimo.
    (c) Valor que aponta para onde mais se concentram os dados de uma distribuição. Pode ser considerada o ponto de equilíbrio das frequências, num histograma.
    (e) Medida que se obtém somando os quadrados dos desvios dos dados relativamente à média, e dividindo pelo número de dados menos um. Representa-se por s2.
    (f) É a medida mais comum da dispersão estatística. Ele mostra a quanto de variação ou dispersão em relação à média.
    (l) Conjunto constituído pela reunião de diversos subconjuntos; total, conjunto, somatório.
    (h) Grau de desvio de afastamento da simetria de uma distribuição, pode ser positiva para distribuições a direita e negativa para a esquerda. Para distribuições simetricas seu valor é zero.
    (m ) Quantidade de registros.

## Exercício 3

![image](image1.png)

UM GRÁFICO PODE LEVAR A CONCLUSÕES ERRADAS? EXPLIQUE POR QUE O GRÁFICO ABAIXO LEVA A CONCLUSÕES ERRADAS.</br>

R: A ordenação dos trimestres pode nos levar a acreditar que está diminuindo o número de atendimentos do hospital.</br>
Quando na verdade os atendimentos aumentam até o terceitro trimestre e caem no quarto trimestre.

## Exercício 4

SEM CALCULAR, OBSERVE OS TRÊS GRÁFICOS E RESPONDA:

![image2](image2.png)

A - QUAL É O CONJUNTO DE DADOS COM MAIOR DESVIO PADRÃO? QUAL TEM O MENOR DESVIO PADRÃO? EXPLIQUE SEU RACIOCÍNIO.</br>
R: A agência Y tem o maior desvio padrão, onde o tempo de atendimento se alterna muito da média.</br> 
O menor desvio padrão está na agencia K. Os dados estão mais concentrados próximos da média</br>

B - NO QUE OS CONJUNTOS DE DADOS SÃO IGUAIS? NO QUE ELES DIFEREM?</br>
R: Os conjuntos possuem a mesma média e mediana de tempo atendimento. </br>
Se diferenciam no desvio padrão. Maior desvio padrão na agência Y e menor na agência K.

C - EM QUAL AGÊNCIA VOCÊ IRIA? JUSTIFIQUE?</br>
Se puder arriscar, seria a Y. Pois a chance de ser atendido rápidamente é a mesma de ser atendido com a maior demora.

## Exercício 5

A - Para uma distribuição assimétrica, qual das seguintes estatísticas é uma boa medida para resumir a tendência central dos dados?</br> 
(  ) média</br> 
(  ) mediana </br> 
(x ) ou média ou mediana</br> 

B - Classifique cada estatística a seguir em uma das opções: (a) tendência central; (b) dispersão; (c) forma;</br> 
(a) média</br> 
(c) curtose</br> 
(a) mediana</br> 
(b) desvio padrão</br> 
(b) variância</br> 
(a) moda</br> 
(c) assimetria</br> 
(b) intervalo interquartil</br>

## Exercício 6 
Salários pagos na empresa XYZ (2o. semestre de 2009)</br>

In [14]:



data = {"Mes/Ano": ["Julho/09", "Agosto/09", "Setembro/09", "Outubro/09", "Novembro/09", "Dezembro/09"],
        "Número de Empregados": [57, 61, 58, 55, 66, 75],
        "Salários Pagos": [30127, 32893, 31041, 29412, 35523, 40080]
}

df = pd.DataFrame(data, index=None)        
df
# verificar a variância

       Mes/Ano  Número de Empregados  Salários Pagos
0     Julho/09                    57           30127
1    Agosto/09                    61           32893
2  Setembro/09                    58           31041
3   Outubro/09                    55           29412
4  Novembro/09                    66           35523
5  Dezembro/09                    75           40080

In [15]:
df.columns

Index(['Mes/Ano', 'Número de Empregados', 'Salários Pagos'], dtype='object')

In [16]:
df.rename(columns = {'Mes/Ano': 'mes_ano', 
                              'Número de Empregados': 'nr_empregados', 
                              'Salários Pagos': 'salario_pago'
                                }, 
                    inplace = True)

In [18]:
df['media'] = df.salario_pago / df.nr_empregados
df

       mes_ano  nr_empregados  salario_pago       media
0     Julho/09             57         30127  528.543860
1    Agosto/09             61         32893  539.229508
2  Setembro/09             58         31041  535.189655
3   Outubro/09             55         29412  534.763636
4  Novembro/09             66         35523  538.227273
5  Dezembro/09             75         40080  534.400000

## Exercício 7
Uma loja de utensílios vende em média 320 peças por dia, com desvio de 40.</br> 
Após exaustiva campanha publicitária a administração pede para calcular a “nova média” de vendas para avaliar se ocorreu alguma melhora.</br> 
Sabendo-se que o resultado foi de 370 peças vendidas na campanha, você pode dizer que a campanha foi um sucesso com α=5%?</br>  
Quais são as hipóteses nula e alternativa deste teste e sua conclusão.  E sua conclusão sobre o sucesso ou não da campanha publicitária.</br>

In [19]:
media_diaria = 320
sd = 40
nova_media = 370
alpha = 0.05

## Exercício 8
Uma amostra de 1250 graus universitários conferidos em uma certa universidade, acusou a seguinte tabela.</br>

In [23]:
data = {'Masculino': [505, 160, 25],
        'Feminino': [405, 145, 10]}

df = pd.DataFrame(data, index=["Bacharel", "Mestre", "Doutor"])        
df

          Masculino  Feminino
Bacharel        505       405
Mestre          160       145
Doutor           25        10

Teste a hipótese de que as variáveis Grau Universitário e Sexo são independentes com α=5%.

In [24]:
table = pd.crosstab(df.index, df.columns, margins=True)

table

ValueError: All arrays must be of the same length

In [1]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
print(f"{'*'*20} Graus de Liberdade {'*'*20}")
print(f"Graus de liberdade: dof={dof}")

print()

print("Tabela Esperada:")
print(expected)

# interpret test-statistic
print(f"{'*'*15} Interpretação Testes Estatísticos {'*'*15}")
prob = 0.95
critical = chi2.ppf(prob, dof)

print(f"Probability={prob}\nCritical={critical}\nStat={stat}")

if abs(stat) >= critical:
	print("Dependent (reject H0)")
else:
	print("Independent (fail to reject H0)")

# interpret p-value
print(f"{'*'*20} Interpretação do p-value {'*'*20}")
alpha = 1.0 - prob
print(f"significance={alpha}\np={p}")

if p <= alpha:
	print("Dependent (reject H0)")
else:
	print("Independent (fail to reject H0)")

******************** Graus de Liberdade ********************

NameError: name 'dof' is not defined