In [2]:
import pandas as pd

## Exercício 7
Uma loja de utensílios vende em média 320 peças por dia, com desvio de 40.</br> 
Após exaustiva campanha publicitária a administração pede para calcular a “nova média” de vendas para avaliar se ocorreu alguma melhora.</br> 
Sabendo-se que o resultado foi de 370 peças vendidas na campanha, você pode dizer que a campanha foi um sucesso com α=5%?</br>  
Quais são as hipóteses nula e alternativa deste teste e sua conclusão.  E sua conclusão sobre o sucesso ou não da campanha publicitária.</br>

In [1]:
media_diaria = 320
sd = 40
nova_media = 370
alpha = 0.05

## Exercício 6 
Salários pagos na empresa XYZ (2o. semestre de 2009)</br>

In [7]:

data = {"Mes/Ano": ["Julho/09", "Agosto/09", "Setembro/09", "Outubro/09", "Novembro/09", "Dezembro/09"],
        "Número de Empregados": [57, 61, 58, 55, 66, 75],
        "Salários Pagos": [30127, 32893, 31041, 29412, 35523, 40080]
}

df = pd.DataFrame(data, index=None)        
df

       Mes/Ano  Número de Empregados  Salários Pagos
0     Julho/09                    57           30127
1    Agosto/09                    61           32893
2  Setembro/09                    58           31041
3   Outubro/09                    55           29412
4  Novembro/09                    66           35523
5  Dezembro/09                    75           40080

In [8]:
df.columns

Index(['Mes/Ano', 'Número de Empregados', 'Salários Pagos'], dtype='object')

In [10]:
df.rename(columns = {'Mes/Ano': 'mes_ano', 
                              'Número de Empregados': 'nr_empregados', 
                              'Salários Pagos': 'salario_pago'
                                }, 
                    inplace = True)

In [11]:
df['media'] = df.salario_pago / df.nr_empregados

In [12]:
df
# verificar a variância

       mes_ano  nr_empregados  salario_pago       media
0     Julho/09             57         30127  528.543860
1    Agosto/09             61         32893  539.229508
2  Setembro/09             58         31041  535.189655
3   Outubro/09             55         29412  534.763636
4  Novembro/09             66         35523  538.227273
5  Dezembro/09             75         40080  534.400000

## Exercicio 1
Escolha a melhor resposta a questão:</br>

#### a) Selecione a opção que lista as variáveis apenas quantitativas contínuas.</br>
    (  ) a temperatura do corpo, o número de crianças, o sexo, a área de um campo de futebol
    ( X) idade, a temperatura corporal, o consumo de combustível, a renda
    (  ) número de filhos, sexo, consumo de combustível, a renda
    (  ) gênero, consumo de combustível, área de um campo de futebol, renda

#### b) Separe as variáveis qualitativas das quantitativas do item a):</br>
    - Qualitativas:
        sexo, genero
    - Quantitativas:
        - continuas:
            Temperatura do corpo, área de um campo de futebol, idade, consumo de combustivel, renda
         -discretas:
            número de crianças(filhos)

## Exercício 2
    (a) Média
    (b) Erro padrão
    (c) Mediana
    (d) Moda
    (e) Desvio padrão
    (f) Variância da amostra
    (g) Curtose
    (h) Assimetria
    (i) Amplitude
    (j) Mínimo
    (k) Máximo
    (l) Soma
    (m) Contagem


    (g) Medida de dispersão que caracteriza o pico ou "achatamento" da curva da função de distribuição de probabilidade
    (k) É o maior valor de um conjunto de dados.
    (j) É o menor valor de um conjunto de dados.
    (a) Valor numérico que separa a metade superior de uma amostra de dados, uma população ou uma distribuição de probabilidade, a partir da metade inferior.
    (d) Valor que detém o maior número de observações, ou seja, o valor ou valores mais frequentes, ou ainda "o valor que ocorre com maior frequência num conjunto de dados, isto é, o valor mais comum
    (b) Medida de variabilidade da média amostral.
    (i) Medida de dispersão. É a diferença entre o máximo e o mínimo.
    (c) Valor que aponta para onde mais se concentram os dados de uma distribuição. Pode ser considerada o ponto de equilíbrio das frequências, num histograma.
    (e) Medida que se obtém somando os quadrados dos desvios dos dados relativamente à média, e dividindo pelo número de dados menos um. Representa-se por s2.
    (f) É a medida mais comum da dispersão estatística. Ele mostra a quanto de variação ou dispersão em relação à média.
    (l) Conjunto constituído pela reunião de diversos subconjuntos; total, conjunto, somatório.
    (h) Grau de desvio de afastamento da simetria de uma distribuição, pode ser positiva para distribuições a direita e negativa para a esquerda. Para distribuições simetricas seu valor é zero.
    (m ) Quantidade de registros.